<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start" class="ion-margin-start" (click)="disEditProfile()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    
    <ion-buttons slot="end" class="ion-margin-end" (click)="saveChanges()">	
      <ion-icon name="checkmark-outline"></ion-icon>	
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>	
      <ion-input #id type="text" hidden value="{{profRef.uid}}"></ion-input>
      <ion-label position="stacked">Nama</ion-label>	
      <ion-input #name type="text" value="{{profRef.name}}"></ion-input>	
    </ion-item>	
    <ion-item>	
      <ion-label position="stacked">Kartu Kredit</ion-label>	
      <ion-input #cc type="number" value="{{profRef.cc}}" minlegth=12 maxlength=12 required></ion-input>	
    </ion-item>	
    <ion-item>	
      <ion-label position="stacked">No. Ponsel</ion-label>	
      <ion-input type="number" #phone type="number" value="{{profRef.phone}}" minlegth=12 maxlength=12></ion-input>	
    </ion-item>	
    <ion-item>	
      <ion-label position="stacked">Alamat</ion-label>	
      <ion-textarea #address value="{{profRef.address}}"></ion-textarea>	
    </ion-item>	
  </ion-list>
  <ion-button (click)="updateProfile(name, cc, phone, address)" shape="full" class="ion-margin-horizontal" color="success" expand="block">Update</ion-button>
</ion-content>
