<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Login</h1>
          <ion-item class="ion-margin-horizontal">
            <ion-label position="floating"><ion-icon name="person-outline"></ion-icon>&nbsp;Email</ion-label>
            <ion-input #email type="email" clearInput="true" autocomplete="off" autofocus="true" inputmode="text" max="16" min="4"></ion-input>
          </ion-item>
          
          <ion-item class="ion-margin-horizontal">
            <ion-label position="floating"><ion-icon name="key-outline"></ion-icon>&nbsp;Password</ion-label>
            <ion-input #password type="password" clearInput="true" autocomplete="off" max="16" min="4"></ion-input>
          </ion-item>
          <br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block"
           class="ion-margin-horizontal" (click)="register()" fill="outline">
            <ion-icon name="people-outline" slot="start"></ion-icon>Register
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"
           class="ion-margin-horizontal" (click)="login(email, password)">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>Login
          </ion-button>
        </ion-col>
      </ion-row>
      
      <span class="divider line one-line">or</span>
      <ion-row>
        <ion-col>
          <ion-button expand="block"
          type="submit" color="danger" (click)="onLoginGoogle(email, password)">
          Login with Google Account
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <p color="danger">{{ text }}</p> <!-- Ini Contoh penulisan placeholder untuk Variable pada TypeScript Angular-->
  <ion-button fill="outline" color="danger" (click)="onChangeText()" routerLink="/dashboard">Change Text</ion-button> <!-- Cara penulisan method untuk button onClick -->
</ion-content>
