<ion-header>
  <ion-toolbar>
    <ion-title>CART</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product"
        text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let product of cartProduct">
    <ion-item>
      <ion-label>
        {{product.productName}}
        <h5 color="secondary">
          <ion-icon name="pricetags-outline"></ion-icon>  {{product.productPrice | currency:"IDR "}}
        </h5>
      </ion-label>
      
      <ion-thumbnail slot="start">
        <img src="{{product.productImage}}" style="margin-right: 10px;" height="50px" width="50px"/>
      </ion-thumbnail>
      <ion-note slot="end" color="secondary"><ion-icon name="cube-outline"></ion-icon> {{product.productQty}}</ion-note>          
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteProduct(product.$key)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

    <ion-item>
      <!-- <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox> -->
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Nama Product
        <h5>
          <ion-icon name="pricetags-outline"></ion-icon> Harga
        </h5>
      </ion-label>
      
      <!-- Gambar Product -->
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
    </ion-item>

    <ion-item (press)="changeQty()">
      <!-- <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox> -->
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Nama Product
        <h5>
          <ion-icon name="pricetags-outline"></ion-icon> Harga
        </h5>
      </ion-label>
      
      <!-- Gambar Product -->
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-note slot="end"><ion-icon name="cube-outline"></ion-icon> 5</ion-note>    
    </ion-item>

</ion-content>
