<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/login" class="ios" tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="" routerLink="/home" class="ios" tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="" routerLink="/make-appointment" class="ios" tab="product">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>PRODUCT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
