<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Product</ion-title>

    <!-- Search and Filter -->
    <ion-buttons slot="end" class="ion-margin-end" (click)="showFilter()">       
      <ion-icon [name]="iconName"></ion-icon>
    </ion-buttons>
    
    <ion-buttons slot="end" class="ion-margin-horizontal" (click)="showSearch()">       
        <ion-icon name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [hidden]="hidden" color="primary">
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding product-banner">
      Carrousel
    </ion-row>

    <ion-row class="ion-justify-content-start"> <!-- Bagian Dynamis product -->
      <!-- Data -->
      <ion-col *ngFor="let produk of items">
        <ion-card mode="md">
          <img class="produk-thumbnail" src={{produk.image}} (click)="OpenModal()"/>
          <ion-card-header (click)="OpenModal()">
            <div class="ion-text-capitalize">
              <ion-card-title>{{produk.name}}</ion-card-title>
            </div>
            <ion-card-subtitle>Rp. {{produk.balance}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-float-right">            
            <ion-button slot="end"(click)="AddCart()">Cart |<ion-icon slot="end" name="add-circle" ></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <!-- Skeleton -->
      <ion-col *ngIf="!items">
        <ion-card mode="md">
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-card-header>
            <div class="ion-text-capitalize">
              <ion-card-title><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-card-title>
            </div>
            <ion-card-subtitle><ion-skeleton-text animated></ion-skeleton-text></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-float-right">            
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button >
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list class="ion-padding">
    <ion-item button *ngFor="let produk of items" >
      <ion-label>
        <h2>{{produk.name}}</h2>
        <p>Balance: {{produk.balance | number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
