<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-icon slot="start" class="ion-margin-start" name="settings-outline"></ion-icon>
      <ion-title>Dashboard Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main">
    <ion-list>      
      <ion-menu-toggle>
        <ion-item button>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-item>
      </ion-menu-toggle>      
      <ion-menu-toggle>
        <ion-item button>
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          <ion-label>Edit Profil</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button>
          <ion-icon slot="start" name="receipt-outline"></ion-icon>
          <ion-label>Konfirmasi Transaksi</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button>
          <ion-icon slot="start" name="documents-outline"></ion-icon>
          <ion-label>Riwayat Transaksi</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button>
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Keluar</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()"><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="dashboard">
    <ion-card>
      <ion-card-header>
        <img class="avatar-thumbnail" src="https://www.flaticon.com/svg/static/icons/svg/3947/3947031.svg" width="50%" height="50%" />
        <ion-card-subtitle>yourname@email.com</ion-card-subtitle>
        <ion-card-title>John Doe</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item Button>
            <ion-label><small>Kartu Kredit</small><hr>
              <b>4025 5127 1206 3871</b>
            </ion-label>
            <ion-icon name="card-outline" slot="start"></ion-icon>            
          </ion-item>
          <ion-item Button>
            <ion-label><small>No. Ponsel</small><hr>
              <b>+62 8134 5678 9012</b>
            </ion-label>
            <ion-icon name="call-outline" slot="start"></ion-icon>           
          </ion-item>
          <ion-item Button>
            <ion-label><small>Alamat</small><hr>
              <b>7116 Forest Ave.<br>
                Jonesborough, TN 37659</b>
            </ion-label>
            <ion-icon name="location-outline" slot="start"></ion-icon>            
          </ion-item>          
        </ion-list>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
