<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BBShoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BBShoes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Welcome to PUGB Mobile</h1>
    <ion-button expand="block" color="danger" class="ion-margin-horizontal" (click)="showModal()">Open</ion-button>
    
  </div>
</ion-content>