<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail Product</ion-title>
    <ion-buttons slot="start" class="ion-margin-start" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="md">
    <img class="produk-thumbnail" src="{{selectedProduct.imgURL}}"/>
    <ion-card-header>
      <div class="ion-text-capitalize">
        <ion-card-title>{{selectedProduct.name}} | {{selectedProduct.brand}}</ion-card-title>
      </div>
      <ion-card-subtitle>{{selectedProduct.price|currency:"IDR"}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{selectedProduct.desc}}</p>
      <ion-button class="ion-float-right" slot="end" (click)="addToCart()">Cart |<ion-icon slot="end" name="add-circle" ></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>